**__pycache__**
**build**
**egg-info**
**dist**
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
_suite2/
.github/

# exception to the rule
dataset_generate/CarlaSimulatorKitti/dataset/*
!dataset_generate/CarlaSimulatorKitti/dataset/.gitkeep

dataset_generate/CarlaSimulatorKitti/models/*
!dataset_generate/CarlaSimulatorKitti/models/.gitkeep

imagedet/SqueezeDet-PyTorch/exp/*
!imagedet/SqueezeDet-PyTorch/exp/.gitkeep

fusion/results/*
!fusion/results/.gitkeep

fusion/trained/*
!fusion/trained/.gitkeep

# exception to the rule
data/*
!data/.gitkeep

# exception to the rule
output/*
!output/.gitkeep
# exception to the rule

