**__pycache__**
**build**
**egg-info**
**dist**
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
_suite2/
.github/
setup.py
# exception to the rule
data/*
!data/.gitkeep
# exception to the rule
tools/*
!tools/.gitkeep
